{% macro menuGroup(groupId, groupTitle, groupItems) %}

<div class="panel-group" style="margin-bottom: 4px;">
  <div class="panel panel-default">
  
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#{{ groupId }}">
          {{ groupTitle }}
        </a>
      </h4>
    </div>


    <ul id="{{ groupId }}" class="list-group panel-collapse collapse in">
        {% for item in groupItems %}
            <li class="list-group-item" id="{{ item.itemId }}">
                {{ item.itemTitle }}
            </li>
        {% endfor %}
    </ul>


  </div>
</div>

{% endmacro %}



